* {
    margin: 0;
    padding: 0;
}
.title {
    background-color: lightblue;
    width: 200px;
    height: 700px;
    float: left;
}
.content {
    margin-left: 210px;
    margin-top: -20px;
}
h1 {
    line-height: 120px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
h4 {
    margin-top: 20px;
}