<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div class="header">
        <div class="con">
            <h2 class="logo">Logo</h2>
            <ul>
                <li><a href="#">Github</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <div class="photos">
            <div class="photo">1</div>
            <div class="photo">2</div>
            <div class="photo">3</div>
            <div class="photo">4</div>
        </div>
    </div>
    <div class="leader">
        <div class="selectcard">
            <div class="card">HOME</div>
            <div class="card">PROFILE</div>
            <div class="card">ABOUT</div>
        </div>
    </div>
    <hr>
    <div class="content">
        <div class="line1">
            <div class="content1">Content1</div>
            <div class="content2">Content2</div>
            <div class="content3">Content3</div>
        </div>
        <div class="line2">
            <div class="content4">Content4</div>
            <div class="content5">Content5</div>
            <div class="content6">Content6</div>
            <div class="content7">Content7</div>
        </div>
        <div class="line3">
            <div class="content8">Content8</div>
            <div class="content9">Content9</div>
            <div class="content10">Content10</div>
        </div>
    </div>
    <div class="footer">
        <div class="footife">© 2018 ife.baidu.com</div>
    </div>
</body>
</html>